<template name="EventDonatePayment">
    <div class="appBody">
      <div class="col-md-12 text-center">
        <h1 style="color: #32AF98; margin-bottom: 2em;">TRANSFORME SUAS CELEBRAÇÕES<br>
          EM EVENTOS DE ALTO IMPACTO</h1>
      </div>
      <div class="col-md-5">

        {{#with initiative}}
          <h2>ONG selecionada</h2>
          <hr>
          <h4 style="color: #32AF98">{{title}}</h4>

          <p>{{category.title}} | {{section.title}}</p>
          <headText for="vision">Visão:</headText>
          <p id="vision">{{vision}}</p>
          <headText for="whatitneeds">O que faz:</headText>
          <p id="whatitneeds">{{whatitneeds}}</p>
          <headText for="location">localização:</headText>
          <p id="location">{{city.name}}</p>
          <!-- <div class="img" style="margin-top:20px; background-image:url('{{logoURL}}');"></div> -->


        {{/with}}

      </div>
      <div class="col-md-offset-1 col-md-6" style="background-color: lightgray; border-radius: 20px; padding: 20px;">
        <h2 class="text-center">Pagar com PayPal</h2>
        <hr style="background-color: white; height: 1px">

          <headText for="title">Sua doação para {{author}}</headText>


        <hr style="background-color: white; height: 1px">
        {{#with paypal_payment}}

        <headText for="donation">Montante</headText>
          {{#each transactions}}
            <p id="donation" style="text-align:left;">

              <span style="float:right;">{{amount.currency}} {{amount.total}}</span>
            </p>

            <headText for="fee">Fees</headText>
            <p id="fee" style="text-align:left;">
              5% taxa PayPal
              <span style="float:right;">{{amount.currency}} {{paypal_fee amount.total}}</span>
            </p>
            <p id="fee" style="text-align:left;">
              10% mcustos de manutenção Surprese
              <span style="float:right;">{{amount.currency}} {{surprese_fee amount.total}}</span>
            </p>

            <headText for="donation">Sua doação total</headText>
            <p id="total" style="text-align:left;">
              85% doação total
              <span style="float:right;">{{amount.currency}} {{bottom_line amount.total}}</span>
            </p>
            
          {{/each}}
        {{/with}}

        <div class="text-center" style="margin-top:10px;">
          {{#if payment_status 'open'}}
            {{#if payment_in_progress}}
              <div class="loader"></div>
            {{else}}
                <button type="button" class="btn btn-primary btn-lg btn-block" id="executePayment">Confirme o pagamento</button>
            {{/if}}
          {{/if}}

          {{#if payment_status 'successful'}}
            <div class="alert alert-success" role="alert">Pagamento bem sucedido! Muito obrigado por esta doação!</div>
          {{/if}}

          {{#if payment_status 'refused'}}
            <div class="alert alert-danger" role="alert">Pagamento recusado. Verifique os detalhes da sua conta paypal</div>
          {{/if}}
        </div>
      </div>
    </div>
</template>
