<template name="eventDonate">
  <div class="appBody">
    <div class="col-md-12 text-center">
      <h1 style="color: #1E2938; margin-bottom: 2em;">TRANSFORME SUAS CELEBRAÇÕES<br>
        EM EVENTOS DE ALTO IMPACTO</h1>
    </div>
    <!-- <div class="col-md-5">
      {{#with initiative}}
        <h2 style="color: #1E2938">ONG selecionada</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="img-logo-event" style="height: 60px; margin-top:20px; background-image:url('{{logoURL}}');"></div>
          </div>
        </div>
        <hr>
        <h4 style="color: #1E2938">{{title}}</h4>

        <headText for="category">Tipo:</headText>
        <p>{{category.title}}</p>
        <headText for="vision">Seção:</headText>
        <p>{{section.title}}</p>
        <headText for="vision">Visão:</headText>
        <p id="vision">{{vision}}</p>
        <headText for="whatitneeds">O que faz:</headText>
        <p id="whatitneeds">{{whatitneeds}}</p>
        <headText for="location">localização:</headText>
        <p id="location">{{city.name}}</p>
        <div class="img" style="margin-top:20px; background-image:url('{{logoURL}}');"></div>
        <br>
        <button type="button" id="login" class="btn btn-default navbar-btn btn-blue-color-bg" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Descrição</button>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Descrição
        </a>
        <div class="collapse" id="collapseExample">
          <div class="well" style="text-align: justify; font-size: 14px">
            {{{description}}}
          </div>
        </div>


      {{/with}}
    </div> -->
    <div class="col-xs-12 col-md-8 col-md-offset-2">

      {{#if stepEquals 'stepOne'}}
        <section class="register" >
          <h2>Evento de {{author}}</h2>
          <div class="well">
            <h3>{{title}}</h3>
            <headText>ONG selecionada</headText>
            {{#with initiative}}
            <p>{{title}}</p>
            {{/with}}
          </div>
          <h2>Doação</h2>
          <div class="well">
            <p>Insira seus dados para que possamos identificar sua doação.</p>

            <form name="stepOne" class="" style="margin-top: 2em;">
                <div class="form-group">
                    <label for="registerName" class="control-label" style="text-align: left; margin-right: 10px">Nome</label>
                    <div class="">
                        <input type="text" class="form-control" id="registerName" value="{{name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerBirthday" class="control-label" style="text-align: left; margin-right: 10px">Aniversário</label>
                    <div class="">
                        <input type="text" class="form-control" id="registerBirthday" value="{{birthday}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label" style="text-align: left; margin-right: 10px">Sexo</label>
                    <div class="">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioGender" id="radioButtonMale" value="male" checked> Masculino
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioGender" id="radioButtonFemale" value="female"> Feminino
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerCPF" class=" control-label" style="text-align: left; margin-right: 10px">CPF</label>
                    <div class="">
                        <input type="text" class="form-control" id="registerCPF" value="{{cpf}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email-field1" class=" control-label" style="text-align: left; margin-right: 10px">Email</label>
                    <div class="">
                        <input type="email" class="form-control" id="registerEmail" value="{{email}}">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="email-field2" class=" control-label" style="text-align: left; margin-right: 10px">Email (confirm)</label>
                    <div class="">
                        <input type="email" class="form-control" id="email-field2" placeholder="Email confirmation">
                    </div>
                </div> -->
                <div class="form-group text-right margin-t-30">
                    <div class="">
                        <button type="submit" id="stepOneButton" class="btn btn-primary bigNext">Próximo</button>
                    </div>
                </div>
            </form>
          </div>
        </section>
      {{/if}}

      {{#if stepEquals 'stepTwo'}}
        <section class="register">
          <div class="well">
                <p>Escolha a quantia que deseja doar e faça a transferência através do PayPal.</p>
                <form name="stepTwo" class="form-horizontal" style="margin-top: 2em;">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <p>Valor sugerido pelo anfitrião:</p>
                      <p style="font-size: 40px;">R$ {{suggestedValue}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <p>Valor da doação:</p>
                      <p style="font-size: 40px; color: #32AF98;">R$ {{donationAmount}}</p>
                      <input id="slider" type="range" min="0" max="20" value={{sliderPosition}} />
                    </div>
                  </div>
                </form>
                    <div class="col-sm-12" style="padding: 0px; margin-top: 2em">
                      <p class="caption text-right">Ao pagar com PayPal você concorda com os
                        <a href="" class="btn-link">termos de compromisso do surprese</a>.
                      </p>
                      <p class="">
                        <button id="paypal" class="btn btn-primary pull-right">Pagar com PayPal</button>
                        <button id="bancaria" class="btn btn-primary pull-right">Pagar com Transferência</button>

                        <div class="clearfix"></div>

                      </p>
                      <p>
                        <button type="submit" id="stepTwoButtonBack" class="btn btn-secondary register pull-left">Back</button>
                      </p>
                    </div>

                  <form name="stepThree" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="col-sm-6" style="padding:0px;">

                            </div>

                        </div>
                    </div>
                </form>
          </div>
        </section>

      {{/if}}

      {{#if stepEquals 'stepThree'}}
      <section class="register">
        <div class="well">
              <p>Você optou por pagar por transferência bancária.</p>
              <form name="stepTwo" class="form-horizontal" style="margin-top: 2em;">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <p>Abaixo você encontrará detalhes para a transferência:</p>
                  </div>
                  <div class="col-xs-12 col-sm-12">
                    <p>Banco Itaú<br>
                    Agência 1514<br>
                    Conta corrente 11306-5<br>
                    Beneficiário: Ana Beatriz Gomes Zanforlin<br>
                    CPF: 40924286857</p>
                    <p>Use este número de referência na sua transação: {{shortDonorId}}</p>

                  </div>
                </div>
              </form>
                  <div class="col-sm-12" style="padding: 0px; margin-top: 2em">

                    <p class="">
                      <button id="completeTransaction" class="btn btn-primary pull-right">Completa operação</button>
                      <button type="submit" id="stepThreeButtonBack" class="btn btn-secondary register pull-left">Back</button>
                      <div class="clearfix"></div>

                    </p>
                  </div>


        </div>
      </section>
      {{/if}}
    </div>
  </div>


  {{> transactionCompleteModal}}
</template>
