<template name="eventDonate">
  <div class="appBody">
    <div class="col-md-5">
      <h1>{{title}}</h1>
      <hr>
      <headText for="descriptionText">Description:</headText>
      <p id="descriptionText">{{description}}</p>
      <headText for="date">Date:</headText>
      <p id="date">{{date}}</p>
      <headText for="suggestedValue">Suggested Value:</headText>
      <p id="suggestedValue">{{suggestedValue}}</p>
    </div>
    <div class="col-md-offset-1 col-md-6">
      {{#if stepEquals 'stepOne'}}
        <section class="register">
                <form name="stepOne" class="form-horizontal">
                    <div class="form-group">
                        <label for="registerName" class="col-sm-4 control-label" style="text-align: left; margin-right: 10px">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="registerName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerBirthday" class="col-sm-4 control-label" style="text-align: left; margin-right: 10px">Birthday</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="registerBirthday" placeholder="Birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="text-align: left; margin-right: 10px">Gender</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="radioButtonMale" value="male" checked> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="radioButtonFemale" value="female"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-field1" class="col-sm-4 control-label" style="text-align: left; margin-right: 10px">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email-field1" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-field2" class="col-sm-4 control-label" style="text-align: left; margin-right: 10px">Email (confirm)</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email-field2" placeholder="Email confirmation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" id="stepOneButton" class="btn btn-default register">Next</button>
                        </div>
                    </div>
                </form>
        </section>
      {{/if}}

      {{#if stepEquals 'stepTwo'}}
        <section class="register">
                <form name="stepTwo" class="form-horizontal">
                    <h4>Choose product or insert donation amount</h4>
                    {{#each products}}
                      {{> productItem}}
                    {{/each}}
                    
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="col-sm-6">
                              <button type="submit" id="stepTwoButtonBack" class="btn btn-default register">Back</button>
                            </div>
                            <div class="col-sm-6">
                              <button type="submit" id="stepTwoButtonNext" class="btn btn-default register">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
        </section>

      {{/if}}

      {{#if stepEquals 'stepThree'}}
        <section class="register">
                <div class="col-sm-10">
                    <button id="paypal" class="btn btn-primary btn-block btn-lg">Pay with PayPal</button>
                </div>
                <form name="stepThree" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-10">
                              <button type="submit" id="stepThreeButtonBack" class="btn btn-default register">Back</button>
                        </div>
                    </div>
                </form>
        </section>
      {{/if}}
    </div>
  </div>
</template>
