
.welcome {
	width: 100%;
	margin: 0;
	display: table;
	color: @primary-color;
	text-align: center;
	padding: 120px 15px 120px;
	.header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: @primary-color;
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
}


.intro {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background: url("https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/landingpage_img1_dark.jpg") 0px center no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
	h1{
		color: @white-color;
		font-size: 52px;
		font-weight: 100;
	}
	h2 {
		color: @white-color;
		font-size: 28px;
		font-weight: 100;
	}
}

// .landing-page-intro {
// 	color: @white-color;
// 	h1 {
// 		font-size: 42px;
// 		font-weight: 200;
// 	}
// }

.chairity {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background-image: url("https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_400220989_small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
