
.welcome {
	width: 100%;
	margin: 0;
	display: table;
	color: @primary-color;
	text-align: center;
	padding: 120px 15px 120px;
	.header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: @primary-color;
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
}



.intro {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background-image: url("https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_378721525_small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.chairity {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background-image: url("https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_400220989_small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
