
.separator-with-text{
  background-color: @forth-color;
	display: table;
	width: 100%;
	h2 {
		color: @white-color;
		padding-top: 30px;
		font-weight: 300;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
	}
}


// Sections

.habit {
	width: 100%;
	margin: 0;
	display: table;
	padding: 120px 15px 120px;
	.header-content-inner {
            h1 {
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
								color: @forth-color;
                font-size: 38px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                font-size: 24px;
            }
        }
}

.impact {
	width: 100%;
	margin: 0;
	display: table;
	padding: 80px 15px 80px;
	background-color: @forth-color;
	.content-inner {
            h2 {
                font-weight: 300;
                color: @white-color;
                font-size: 30px;
            }
        }
}

.how {
	width: 100%;
	margin: 0;
	display: table;
	padding: 80px 15px 80px;
	.how-content {
					h1 {
							font-weight: 700;
							color: @forth-color;
							margin-bottom: 0;
							font-size: 26px;
					}

					h2 {
						margin: 0em 1em;
						font-size: 20px;
					}

					img {
						margin-bottom: 1em;
						width: 180px;
						height: auto;
					}

					.content-inner {
						margin-top: 2em;
						padding-left: 4em;
						padding-right: 4em;
					}

					p {
							font-weight: 300;
							font-size: 18px;
							text-align: center;
							margin: 1em 2em;
					}
    }
}

.newsletter {
	width: 100%;
	margin: 0;
	display: table;
	padding: 80px 15px 80px;
	background-color: @forth-color;

	h2 {
		color: @white-color;
		margin: 0em 1em;
		font-size: 30px;
		padding-bottom: 2em;
	}

	input {
		border-radius: 0px;
		height: 44px;
		font-size: 22px;
	}

	button {
		height: 44px;
		border-radius: 0px;
	}
}


.intro {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background: url("https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/landingpage-header.jpg") 0px center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
	background-position-y: inherit !important;
	h1{
		color: @white-color;
		font-size: 52px;
		font-weight: 300;
	}
	h2 {
		color: @light-grey;
		font-size: 18px;
		font-weight: 100;
		padding: 0.5em 5em 0;

	}
}

// .landing-page-intro {
// 	color: @white-color;
// 	h1 {
// 		font-size: 42px;
// 		font-weight: 200;
// 	}
// }

.chairity {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  background-image: url("https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_400220989_small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}


// Style test for full screen responsive image
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
		background-position-y: inherit !important;
		background-size: 100%;
}



.fullscreen,
.content-a {
    width:100%;
		height:50vh;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
	h1{
		color: @white-color;
		font-size: 52px;
		font-weight: 300;
	}
	h2 {
		color: @white-color;
		font-size: 28px;
		font-weight: 100;
	}

}

.about-us-header {
	height: 100vh;
	// padding: 4em 2em 6em;
	p{
		margin-top: 2em;
		color: @forth-color;
		font-size: 24px;
		text-align: center;
	}

	img {
		margin-bottom: 2em;
		width: 60px;
		height: auto;
	}

	.mission {
		padding: 5em 2em;
	}
}

.values {
	width: 100%;
	height: 90vh;
	margin: 0;

	display: table;
	padding: 80px 15px 80px;
	.values-content {

					p {
							font-weight: 300;
							font-size: 24px;
							text-align: center;
							margin: 1em 2em;
					}

					img {
						width: 60px;
						height: auto;
						margin-right: 1em;
            vertical-align: middle;
					}

					.content-inner {
						padding-left: 4em;
						padding-right: 4em;
					}


    }
}

.transparency {
	padding: 3em 2em;
	p{
		color: @forth-color;
		font-size: 20px;
		font-weight: 200;
		text-align: center;
		padding-top: 1em;
	}
}
