.text-primary {
	color: @color-primary !important;
}

.text-secondary {
	color: @color-secondary !important;
}

.text-white {
	color: @white-color !important;
}

// .tbl {
// 	display: table;
// }

// .tbl-cell {
// 	display: table-cell;

// 	& + .tbl-cell {
// 		margin-left: 15px;
// 	}
// }

// .tbl-cell-expanded {
// 	width: 100%;
// }

