// Variables

// Gray and Brand Colors for use across theme


@color-green:		     #1CB099;
@color-green-light:  #5AC8AA;
@color-orange:		   #ED6357;
@color-yellow:		   #FFE07A;
@color-blue-dark:	   #1D2936;

@color-white:       #FFFFFF;
@color-gray-light:  #F6F7F9;
@color-gray:        #C6C9CD;
@color-black:       #000000;

@color-black-overlay: rgba(0,0,0,0.15);

@color-primary:         @color-green;
@color-secondary:       @color-blue-dark;
@color-accessory:       @color-orange;
@color-call-to-action:  @color-orange;
@color-warning:         @color-yellow;
@color-text:            @color-blue-dark;


// ---- old style --- to be deleted
@primary-color: #32AF98;
@secondary-color: #EA6651;
@third-color: #FEE168;
@forth-color: #1E2938;

@white-color: #fff;
@black-color: #000000;

@link-visited: #f5f5f5;
@background-color: #f5f5f5;
@primary-text: #32AF98;
@secondary-text: #1E2938;


@light-grey: #D3D3D3;
@medium-grey: #444;
@dark-grey: #262422;

// --- end old style

// @font-face {
//      font-family: 'Montserrat';
//      src: url('/fonts/Montserrat-Regular.eot');
//      src: url('/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
//           url('/fonts/Montserrat-Regular.woff') format('woff'),
//           url('/fonts/Montserrat-Regular.ttf') format('truetype'),
//           url('/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
//      font-weight: normal;
//      font-style: normal;
//
//  }
//
//  @font-face {
//      font-family: 'Montserrat';
//      src: url('/fonts/Montserrat-Bold.eot');
//      src: url('/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
//           url('/fonts/Montserrat-Bold.woff') format('woff'),
//           url('/fonts/Montserrat-Bold.ttf') format('truetype'),
//           url('/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
//      font-weight: bold;
//      font-style: normal;
//  }

 @font-primary:      'Montserrat', 'Helvetica Neue', Arial, sans-serif;
 @font-secondary:    'Open Sans', 'Helvetica Neue', Arial, sans-serif;

 @font-size-xlarge: 	40px;
 @font-size-large: 	  30px;
 @font-size-medium: 	18px;
 @font-size-small: 	  14px;
 @font-size-xsmall: 	10px;

 @font-weight-bold:     700;
 @font-weight-regular:  400;
