<template name="comingSoon" >
    <div class="coming-soon text-center container">

    	<div class="img-highlight"></div>

    	<section class="section-highlight">
	    	<div class="row">
		    	<div class="col-xs-12">
		    		<img src="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-lklij9igska46kybra42pxml/rzrapc-surprese-logo.png" alt="Surprese.me logo" />
		    		<h1>seu evento. seu presente. seu evento</h1>

				</div>
	        </div>
		</section>

		<section class="section-bg section-bg-white">
	        <div class="row">
		    	<div class="col-xs-12">
					<h1 clas="text-primary">Vamos mudar um hábito...</h1>
					<p>O surprese é uma plataforma que facilita a conexão entre indivíduos e instituições sociais.</p>
					<p>Queremos que você transforme suas celebrações em eventos com propósito, porque acreditamos fielmente que você pode ter mais satisfação doando para alguém que tenha necessidade do que recebendo algo que você, na verdade, não precisa.Tudo isso de forma simples e transparente.</p>
				</div>
	        </div>
		</section>

		<section class="section-bg section-bg-secondary">
			 <div class="row">
		    	<div class="col-xs-12">
					<h3 class="text-white">
						Se todos juntos criarmos esse novo hábito podemos provar que pequenas ações locais podem ter um enorme IMPACTO.
					</h3>
				</div>
	        </div>
		</section>

		<section class="section-bg section-bg-white">
			 <div class="row">
		    	<div class="col-xs-12">
					<h1>Como funciona</h1>
				</div>

				<div class="col-xs-12 col-sm-4">
					<img class="img-icon" src="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-lklij9igska46kybra42pxml/hzq11x-edit.png" />
					<h3>Você cria uma página para seu evento</h3>
					<p>Com local, data, hora e uma descrição para compratilhar com seus convidados</p>
				</div>

				<div class="col-xs-12 col-sm-4">
					<img class="img-icon" src="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-lklij9igska46kybra42pxml/hqspqs-tap.png" />
					<h3>Escolhe uma instituição</h3>
					<p>Através de filtros, escolha uma instituição que atue em favor da sua causa</p>
				</div>
					 
				 <div class="col-xs-12 col-sm-4">
				 	<img class="img-icon" src="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-lklij9igska46kybra42pxml/rczydq-open-box-with-two-hearts.png" />
					<h3>E troca os presentes que receberia por doações</h3>
					<p>Envie o link para seus convidados e eles poderão te presentar com uma doação para a instituição escolhida</p>
				</div>
	        </div>
		</section>

		<section class="section-bg section-bg-secondary">
			 <div class="row">
		    	<div class="col-xs-12">
					<h2 class="text-white">Seja notificado quando fizermos o lançamento!</h2>
					<form class="form-horizontal">
					  <div class="form-group">
					    <div class="col-xs-12 col-sm-10">
					      <input type="text" placeholder="Email" class="form-control" />
					    </div>
					    <div class="col-xs-12 col-sm-2">
					    	<button class="btn btn-primary btn-expanded">
								Enviar
							</button>
					    </div>
					  </div>
					</form>

				</div>
	        </div>
		</section>



    </div>
</template>
