<template name="formStep1">
    <div class="row">
        <form>
        	<p class="text-center"><strong>Search for the name</strong></p>
            <div class="form-group">
                <input type="text" class="form-control searchQuery" id="searchQuery" name="searchQuery" >
            </div>
            <p class="text-center" style="margin-top: 3em"><strong>... or use the filters below</strong></p>
            <div class="form-group">
                <select name="filter1" id="filter1" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-control" style="margin-top: 10px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </form>
    </div>
</template>
