<template name="formStep1">
    <div class="row">
        <form>
            <h4 class="text-center text-uppercase">Search for the name</h4>
            <hr style="max-width: 75px">
            <div class="form-group">
                <input type="text" class="form-control searchQuery" id="searchQuery" name="searchQuery">
            </div>
            <h4 class="text-center text-uppercase" style="margin-top: 3em">... or use the filters below</h4>
            <hr style="max-width: 75px">
            <div class="form-group">
                <select name="filter1" id="filter1" class="form-control">
                    <option value="none">Choose here ...</option>
                    <option value="Berlin">Berlin</option>
                    <option value="Brazil">Brazil</option>
                </select>
                <select class="form-control" id="filter2" style="margin-top: 10px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </form>
    </div>
</template>
