<template name="formStep2">
    <div class="row">
        <div class="col-md-1">
            <p>Filter</p>
        </div>
        <div class="col-md-3">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <select class="form-control" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-offset-1 col-md-1">
            <p>Suche</p>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control searchQuery" id="searchQuery" name="searchQuery">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {{#each initiativesList}}
              {{> initiativeInList}}
            {{/each}}
        </div>
         <div class="col-md-12">
            <button class="lazyload">Load more</button>
        </div>
    </div>
</template>
