<template name="adminPanel">
    {{#if isInRole 'admin'}}
    <div class="appBody">
        <h4 class="page-header">User Management Panel</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th class="text-center">Role</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td class="text-left text-middle">{{profile.name}}</td>
                    <td class="text-left text-middle">{{#if isCurrentUser _id}}
                        <label class="label label-success">You!</label>{{/if}} {{emails.[0].address}}</td>
                    <td>
                        <select {{disableIfAdmin _id}} name="userRole" class="form-control">
                            <option selected="{{selected roles.[0] 'admin'}}" value="admin">Admin</option>
                            <option selected="{{selected roles.[0] 'manager'}}" value="manager">Manager</option>
                            <option selected="{{selected roles.[0] 'user'}}" value="user">User</option>
                        </select>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</template>
