<template name="formStep1">
    <div class="row">
        <form>
        	<p class="text-center">Search for the name</p>
            <div class="form-group">
                <input type="text" class="form-control" id="searchQuery" name="searchQuery" placeholder="Search ...">
            </div>
            <p class="text-center">... or use the filters below</p>
            <div class="form-group">
                <select name="filter1" id="filter1" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-control" style="margin-top: 10px">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </form>
    </div>
</template>
