<template name="home">
	
	{{#if currentUser}}
	    <a href="/create-post" class="createNewPost">Create new post</a>
	{{/if}}

	
	{{#if currentUser}}
		{{#each postsList}}
	  		{{> postInList}}
		{{/each}}
	{{else}}

	<header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
      <div class="container-fluid">
        <h1 class="display-3">Primi.io, charity events.</h1>
        <h2 class="m-b-3">Your Event. Your Present. Your Support</h2>
       
      </div>
	</header>

    <section class="section-features text-xs-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-pen display-1"></span>
                <h4 class="card-title">250</h4>
                <h6 class="card-subtitle text-muted">UI Elements</h6>
                <p class="card-text">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-thunderbolt display-1"></span>
                <h4 class="card-title">Ultra</h4>
                <h6 class="card-subtitle text-muted">Modern design</h6>
                <p class="card-text">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="icon-heart display-1"></span>
                <h4 class="card-title">Free</h4>
                <h6 class="card-subtitle text-muted">Forever and ever</h6>
                <p class="card-text">Sed risus feugiat fusce eu sit conubia venenatis aliquet nisl cras eu adipiscing ac cras at sem cras per senectus eu parturient quam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="content">
        TEST    
      </div>
    </section>



	{{/if}}


	{{#if currentUser}}
	<button class="lazyload">Load more</button>
	{{/if}}
	
</template>