<template name="initiativeInList">
    <div class="postListItem">
        <!-- <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <img src={{imageURL}} alt="{{title}}">
                </div>
            </div>
            <div class="col-md-9">
                <h2><a href="initiatives/{{slug}}"> {{title}}</a></h2>
                <p>Vision: {{vision}} </p>
                <p>How it helps: {{howithelps}} </p>
                <p>What it needs: {{whatitneeds}} </p>
            </div>
        </div> -->
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img style="width: 130px" class="media-object" src={{imageURL}}>
                </a>
            </div>
            <div class="media-body" style="padding-left: 30px">
                <h4 class="media-heading"><a href="initiatives/{{slug}}"> {{title}}</a></h4>
                <p>Vision: {{vision}} </p>
                <p>How it helps: {{howithelps}} </p>
                <p>What it needs: {{whatitneeds}} </p>
            </div>
        </div>
    </div>
</template>
