<template name="editProducts">

	<div class="appBody">
		<div class="row">
				<div class="col-md-10 text-left">
						{{> inAppNavBar}}
				</div>
				<div class="col-md-2 text-right">
						<button id="addProduct" type="button" class="btn btn-primary">Add Product</button>
				</div>
		</div>

		<div class="row">
			<table class="table table-hover">
  				<thead>
  					<tr>
	  					<th>Title</th>
	  					<th>Description</th>
	  					<th>Value</th>
	  					<th></th>
	  				</tr>
  				</thead>
  				<tbody>
  					{{#each productsList}}
  						{{> product}}
  					{{/each}}
  				</tbody>
			</table>
		</div>

		<div class="row" style="padding: 15px; background-color: #ddd; border-radius: 15px;">
			<form>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" id="title" name="title" placeholder="Title">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" name="description" class="form-control" placeholder="Short description for what the product is needed" rows="3"></textarea>
				</div>
				<div class="form-group">
					<label for="productValue">Value: R$ {{sliderValue}}</label>
					<input type="range" id="productValue" name="productValue" min="1" max="500" value={{sliderValue}} step="4" />
				</div>

				<button type="submit" class="save">Hinzufügen</button>
			</form>
		</div>
	</div>

	{{> addNewProductModal}}
</template>
