<template name="productItem">

    <div class="panel panel-default">
      <div class="panel-heading">
        <span>{{this.title}}</span>
        <span class="pull-right">
          <button type="button" id="selectItem" class="btn btn-xs {{#if isSelected}}btn-primary{{else}}btn-default{{/if}}">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Select
          </button>
        </span>
      </div>
      <div class="panel-body">
        <span>{{this.description}}</span>
        <span class="pull-right"><strong>R$ {{this.productValue}}</strong></span>
      </div>
    </div>
</template>
