<template name="loginModal">
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  	<div class="modal-dialog">
			<div class="loginmodal-container">
			  <form>
          <label class="input-label" for="username">E-mail</label>
  				<input type="text" name="user" id="username" placeholder="E-mail">
          <label class="input-label" for="password">Senha</label>
  				<input type="password" name="pass" id="password" placeholder="Password">
          <p class="text-right">
            <a href="#" class="btn-link">Esqueci minha senha</a>
          </p>

          <div class="margin-t-30">
    				<input type="submit" name="login" class="btn btn-primary pull-right" value="Entrar">
            <input class="btn btn-secondary pull-left" value="Criar conta">
          </div>
			  </form>

			  <div class="login-help">

			  </div>
			</div>
		</div>
	</div>
</template>
