<template name="newsletterModal">
  <div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  	<div class="modal-dialog">
			<div class="loginmodal-container">
				<h1>Comece a usar a nossa versão beta!</h1><br>
			  <form>
  				<input type="email" name="email-newsletter-modal" id="email-newsletter-modal" placeholder="E-mail">
  				<input type="submit" name="submit-newsletter" class="btn btn-primary" value="Enviar" id="btn-newsletter-modal">
			  </form>
			</div>
		</div>
	</div>
</template>
