<template name="newsletterModal">
  <div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  	<div class="modal-dialog">
			<div class="loginmodal-container">
				<h1>Stay in touch when we launch</h1><br>
			  <form>
  				<input type="text" name="name" id="username" placeholder="Name">
  				<input type="email" name="email" id="email" placeholder="Email">
  				<input type="submit" name="submit-newsletter" class="login loginmodal-submit" value="Submit">
			  </form>
			</div>
		</div>
	</div>
</template>
