<template name="registerModal">
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  	<div class="modal-dialog">
			<div class="registermodal-container">
			  <form>
          <label class="input-label" for="email">E-mail</label>
  				<input type="text" name="email" id="email" placeholder="E-mail">
          <label class="input-label" for="email">Password</label>
  				<input type="password" name="password" id="password" placeholder="Pasword">

          <div class="margin-t-30">
    				<input type="submit" name="login" class="btn btn-primary pull-right" value="Entre em beta">
          </div>
			  </form>

			  <div class="register-help">

			  </div>
			</div>
		</div>
	</div>
</template>
