<template name="transactionCompleteModal">
    <div class=" modal fade " tabindex="-1 " role="dialog " id="transactionCompleteModal">
        <div class="modal-dialog " role="document ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close "><span aria-hidden="true ">&times;</span></button>
                    <h4 class="modal-title ">Muito obrigando!</h4>
                </div>
                <div class="modal-body ">
                    <p>Muito obrigado por sua doação! Você é agora parte da família de Surprese! Com sua doação, você fez um grande dom, bem como uma boa ação!</p>
                </div>
                <div class="modal-footer ">
                    <button type="button" id="btn-transaction-modal" class="btn btn-primary ">Vá para a página inicial</button>
                </div>
            </div>
        </div>
    </div>
</template>
