<template name="sobreNos">
  <section class="about-us-header">
    <div class="fullscreen background" style="background-image:url('https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_63366721_blur.jpg');">
      <div class="content-a">
        <div class="content-b">
            <h1>Queremos transformar um hábito</h1>
            <h2>e facilitar a conexão entre pessoas e instituições sociais</h2>
        </div>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-8 col-xs-12 mission">
      <div class="text-center">
        <img src="/images/achievement.png">
        <hr class="style-300-primary-color">
        <!-- <hr class="small"> -->
        <h2>Potencializamos cada indivíduo, ajudando-o a criar seu próprio evento beneficente de uma forma simples e transparente, mostrando que pequenas ações juntas podem ter um enorme impacto.</h2>
      </div>
    </div>
  </section>


  <div class="space-80 separator-bg-secondary">
  </div>

  <section class="values">
    <div class="values-content">
      <div class="row content-inner text-center">
        <h1>Valores</h1>
        <hr class="style-300-primary-color">
      </div>
      <div class="col-sm-12">
        <h2><img src="/images/muscles.png"> iniciativas regionais, significativas e eficazes que tenham juntas um grande impacto</h2>
        <h2><img src="/images/eye.png">transparência em cada processo, transação e atuação</h2>
        <h2><img src="/images/magazine.png">aprendizado contínuo que nos permite evoluir junto com nossos usuários</h2>
        <h2><img src="/images/trophy.png">agilidade e simplicidade que permitem romper barreiras</h2>
      </div>
    </div>
  </section>

  <section class="separator-image">
    <div class="fullscreen background" style="background-image:url('https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_453764113_small.jpg');">
    </div>
  </section>


  <section class="transparency">
    <div class="row text-center">
      <h1>Como surgiu o surprese?</h1>
      <hr class="style-300-primary-color">
    </div>
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <div class="text-center">

        <p>Nós brasileiros gastamos muito dinheiro em presentes: dia das mães, dia dos namorados, aniversários...<br>Só no Natal este ano gastaremos mais de R$11 BILHÕES de reais em compras</p>

        <p>Ao mesmo tempo, temos um déficit enorme nas necessidades mais básicas como educação e saúde.</p>

        <p>Já pensou se pudéssemos usar esse dinheiro de alguma forma mais relevante? Com essa quantia, poderíamos construir mais de 12 mil escolas ou dar acesso à saúde básica a mais 7 milhões de pessoas.</p>

        <p>PENSANDO NISSO, E OBSERVANDO UMA TENDÊNCIA DE CONSUMO CONSCIENTE E PREOCUPAÇÃO SOCIAL, QUE CRIAMOS O SURPRESE, UMA PLATAFORMA ONDE VOCÊ TRANSFORMA SEU EVENTO - ANIVERSÁRIO, CASAMENTO, EM CASA, NO BAR - EM UM EVENTO COM PROPÓSITO, SIMPLESMENTE CONVERTENDO SEUS PRESENTES EM DOAÇÕES PARA UMA CAUSA COM A QUAL VOCÊ SE IDENTIFICA</p>
      </div>
    </div>
  </section>

</template>
