<template name="sobreNos">
  <section class="header-section-100">
    <div class="fullscreen background" style="background-image:url('https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_63366721_blur.jpg');">
      <div class="content-a">
        <div class="content-b">
            <h1>Queremos transformar um hábito</h1>
            <h2>e facilitar a conexão entre pessoas e instituições sociais</h2>
        </div>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-8 col-xs-12 mission">
      <div class="text-center">
        <img src="/images/achievement.png">
        <h1>Nossa missão</h1>
        <hr class="style-300-primary-color">
        <!-- <hr class="small"> -->
        <h2>Potencializamos cada indivíduo, ajudando-o a criar seu próprio<br>evento beneficente de uma forma simples e transparente, mostrando que pequenas ações juntas podem ter um enorme IMPACTO.</h2>
      </div>
    </div>
  </section>


  <div class="space-80 separator-bg-secondary">
  </div>

  <section class="values">
    <div class="values-content">
      <div class="row content-inner text-center">
        <h1>Nossos valores</h1>
        <hr class="style-300-primary-color">
      </div>
      <div class="col-md-offset-2 col-sm-8 text-left">
        <div class="row"><div class="col-xs-1"><img src="/images/muscles.png"></div><div class="col-xs-11" style="padding-left:2em;"><span><strong>engajamento</strong> através de iniciativas locais e eficazes, que juntas podem ter um grande impacto</span></div></div>
        <div class="row"><div class="col-xs-1"><img src="/images/eye.png"></div><div class="col-xs-11" style="padding-left:2em;"><span><strong>transparência</strong> nos nossos processos e transações</span></div></div>
        <div class="row"><div class="col-xs-1"><img src="/images/magazine.png"></div><div class="col-xs-11" style="padding-left:2em;"><span><strong>aprendizado</strong> mútuo para que possamos evoluir junto com nossos usuários</span></div></div>
        <div class="row"><div class="col-xs-1"><img src="/images/trophy.png"></div><div class="col-xs-11" style="padding-left:2em;"><span><strong>agilidade e simplicidade</strong> em todo o processo, transformando barreiras em facilidades</span></div></div>

      </div>
    </div>
  </section>

  <section class="separator-image">
    <div class="fullscreen background" style="background-image:url('https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_453764113_small.jpg');">
    </div>
  </section>


  <section class="transparency">
    <div class="row text-center">
      <h1>Como surgiu o surprese?</h1>
      <hr class="style-300-primary-color">
    </div>
    <div class="col-md-offset-2 col-md-8">

        <p>Nós brasileiros gastamos muito dinheiro em presentes: dia das mães, dia dos namorados, aniversários... </p>
        <p>Só no Natal este ano gastaremos mais de R$11 bilhões de reais em compras. Dar presentes é legal, mas já pensou se pudéssemos usar esse dinheiro de alguma forma mais relevante? </p>
        <p>Sabemos que temos um déficit enorme nas necessidades mais básicas como educação e saúde, e com essa quantia, poderíamos construir mais de 12 mil escolas ou dar acesso à saúde básica a mais 7 milhões de pessoas.</p>
        <p>Foi pensando nisso, e observando uma tendência de consumo consciente e preocupação social, que criamos o surprese, uma plataforma que permite que você convoque seus convidados a, ao invés de te darem presentes, fazerem doações para a causa nobre em que você acredite!</p>

    </div>
  </section>
  {{> newsletterSection}}
</template>
