<template name="aboutus">
  <section class="header-image">
    <div class="fullscreen background" style="background-image:url('https://s3-sa-east-1.amazonaws.com/charity-platform-pictures/website/shutterstock_371103689.jpg');">
      <div class="content-a">
        <div class="content-b">
            <h1>Queremos transformar um hábito</h1>
            <h2>e facilitar a conexão entre pessoas e instituições sociais</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="mission">
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <div class="text-center">
        <p>Potencializamos cada indivíduo, ajudando-o a criar seu próprio evento beneficente de uma forma simples e transparente, mostrando que pequenas ações juntas podem ter um enorme impacto.</p>
      </div>
    </div>
  </section>

  <div class="space-80 separator-with-text">
    <h2>Valores</h2>
  </div>

  <section class="how">
    <div class="how-content">
      <div class="row content-inner">

        <div class="col-sm-6 text-center">
          <img src="/images/landing-page-icon-2.png">
          <p>iniciativas regionais, significativas e eficazes que tenham juntas um grande impacto</p>
        </div>
        <div class="col-sm-6 text-center">
          <img src="/images/landing-page-icon-2.png">
          <p>transparência em cada processo, transação e atuação</p>
        </div>
        <div class="col-sm-6 text-center">
          <img src="/images/landing-page-icon-2.png">
          <p>aprendizado contínuo que nos permite evoluir junto com nossos usuários</p>
        </div>
        <div class="col-sm-6 text-center">
          <img src="/images/landing-page-icon-2.png">
          <p>agilidade e simplicidade que permitem romper barreiras</p>
        </div>

      </div>
    </div>
  </section>


<div class="space-80 separator-with-text">
  <h2>De onde viemos?</h2>
</div>

<section class="transparency">
  <div class="col-md-offset-2 col-md-8 col-xs-12">
    <div class="text-center">
      <p>Nós brasileiros gastamos muito dinheiro em presentes: dia das mães, dia dos namorados, aniversários…. Só no Natal este ano gastaremos mais de R$11 BILHÕES de reais em compras.
	Ao mesmo tempo, temos um déficit enorme nas necessidades mais básicas como educação e saúde.</p>
      <p>Já pensou se pudéssemos usar esse dinheiro de alguma forma mais relevante? Com essa quantia, poderíamos construir mais de 12 mil escolas ou dar acesso à saúde básica a mais 7 milhões de pessoas.</p>
      <p>Foi pensando nisso, e observando uma tendência de consumo consciente e preocupação social que criamos o surprese, uma plataforma onde você transforma seu evento - aniversário, casamento, grande, pequeno, em casa, no bar - em um evento com um propósito, simplesmente tendo o nobre gesto de trocar os seus presentes por doações a uma causa com a qual você se identifica. </p>
    </div>
  </div>
</section>

</template>
