<template name="homescreen">
    <div class="appBody">

        <div class="row">
            <div class="col-md-6 text-left">
                <h2>Painel de Impacto</h2>
            </div>
            <div class="col-md-offset-3 col-md-3 text-right">
                <button type="button" class="btn btn-primary newEvent">Criar novo evento</button>
            </div>
        </div>

        <hr class="margin-t-0">

        <div class="row">

            <div class="col-md-9">
                  {{#each eventsList}} {{> eventListItem}} {{/each}}
                  <button class="lazyload">Carregar mais eventos</button>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"><strong>Sua conta</strong></h3>
                    </div>
                    <div class="panel-body">
                        <p>Number of events: </p>
                        <p>Total Funding: </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
