<template name="landingPage">
    <section class="head">
        <div class="intro">

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 text-center">
                <img src="/images/novo-white-text.png" style="width: 500px; height: auto;">
                <p class="text-center">
                  <a href="#" id="btn-newsletter" class="btn btn-lg btn-primary">Em breve!</a>
                </p>
              </div>
            </div>
        </div>
    </section>
    <section class="habit" id="habit">
        <div class="header-content-inner">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="text-center">Dê um novo propósito aos seus eventos</h2>
            </div>
        </div>
    </section>

    <div class="space-80 separator-bg-secondary">
    </div>

    <!-- <section class="impact" id="impact">
        <div class="content-inner">
            <div class="col-sm-offset-2 col-md-8 col-xs-12 text-center">

            </div>
        </div>
    </section> -->

    <section class="how" id="impact">
        <div class="how-content">
            <div class="row text-center">
              <h1>COMO FUNCIONA</h1>
              <hr class="style-300-primary-color">
            </div>

            <div class="row content-inner">
              <div class="col-md-4 text-center">
                <h2>Você cria uma página<br>para seu evento</h2>
                <img src="/images/Rings-step1.png">
                <p>Com local, data, hora e uma descrição para compartilhar com seus convidados</p>
              </div>
              <div class="col-md-4 text-center">
                <h2>Escolhe uma<br>instituição</h2>
                <img src="/images/Rings-step2.png">
                <p>Através de filtros escolha uma instituição que atue em favor da sua causa</p>
              </div>
              <div class="col-md-4 text-center">
                <h2>E troca os presentes<br>que receberia por doações</h2>
                <img src="/images/Rings-step3.png">
                <p>Envie o link para seus convidados e eles poderão te presentar com uma doação para a instituição escolhida</p>
              </div>
            </div>
            <!-- <div class="row content-inner">
              <div class="col-md-offset-4 col-md-4 text-center">
                <h2> <span class="text-impact">ACOMPANHE<br>SEU IMPACTO!</span></h2>
                <img src="/images/Rings-step4.png">
              </div>
            </div> -->
            <div class="row content-impact">
              <div class="col-md-12 text-center">
                <a href="/como-funciona" id="btn-know-more" class="btn btn-lg btn-secondary">Saiba mais</a>
                <h2>Queremos mudar o hábito de presentar, e ao mesmo tempo permitir<br>que todos tenham maior realização pessoal doando ao invés de recebendo</h2>
              </div>
            </div>
        </div>
    </section>
    {{> newsletterSection}}

  {{> newsletterModal}}
</template>
