<template name="landingPage">
  <div class="landing">
    <section class="head">
        <div class="intro">

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 text-center">
                <img src="/images/logo-home.png" style="width: 820px; height: auto;">
                <p class="text-center">
                  <a href="#" id="btn-newsletter" class="btn btn-lg btn-call-to-action margin-t-30">Em breve!</a>
                </p>
              </div>
            </div>
        </div>
    </section>

    <section class="impact container-white" id="impact">
        <div class="header-content-inner">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h2>Dê um novo propósito aos seus eventos</h2>
                <p>O surprese é uma plataforma que te conecta com instituições sociais que estão fazendo a diferença.</p>
                <p>Queremos mudar o hábito de presentar, e ao mesmo tempo permitir<br>que todos tenham maior realização pessoal doando ao invés de recebendo</p>
            </div>
        </div>
    </section>

    <!-- <div class="space-80 separator-bg-secondary">
    </div> -->

    <!-- <section class="habit" id="habit">
        <div class="content-inner">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
              <h2> Dê um novo propósito às suas festas</h2>


            </div>
        </div>
    </section> -->

    <section class="how" id="impact">
        <div class="how-content text-center">
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
            <h2>Como funciona</h2>
            <!-- <hr class="style-300-primary-color"> -->

            <div class="row content-inner">
              <div class="col-xs-12 col-lg-4">
                <div class="well">
                  <h3>Crie uma página<br>para seu evento</h3>
                  <img src="/images/Rings-step1.png">
                  <p>Crie o convite da sua festa. Esse é o lugar para contar aos seus convidados porque você decidiu fazer essa festa diferente!</p>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div class="well">
                  <h3>Escolha uma<br>instituição</h3>
                  <img src="/images/Rings-step2.png">
                  <p>Escolha uma instituição parceira que atue em favor de sua causa. Não achou nenhuma? Fala pra gente!</p>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4">
                <div class="well">
                  <h3>Transforme presentes<br/>em doações</h3>
                  <img src="/images/Rings-step3.png">
                  <p>Compartilhe o link com seus convidados para que eles possam te presentear doando para a instituição escolhida através do surprese.</p>
                </div>
              </div>
            </div>
            <!-- <div class="row content-inner">
              <div class="col-md-offset-4 col-md-4 text-center">
                <h2> <span class="text-impact">ACOMPANHE<br>SEU IMPACTO!</span></h2>
                <img src="/images/Rings-step4.png">
              </div>
            </div> -->
            <a href="/como-funciona" id="btn-know-more" class="btn btn-primary">Saiba mais</a>

          </div>
        </div>
    </section>
    {{> newsletterSection}}

  {{> newsletterModal}}
  </div>
</template>
