<template name="landingPage">
    <section class="head">
        <div class="intro">
            <!-- <header class="jumbotron transparantJumbotron text-xs-center center-vertically" role="banner">
                <div class="container">
                    <h1 class="display-3">Surprese.me</h1>
                    <h2 class="m-b-3">Your Event. Your Present. Your Support.</h2>
                </div>
            </header> -->
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10">
                <h1>Surprese</h1>
                <h1 class="landing-page-intro">Your Event. Your Present. Your Support.</h1>
              </div>
            </div>
        </div>
    </section>
    <section class="welcome">
        <div class="header-content-inner">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h1 id="homeHeading">We have got what you need!</h1>
                <hr class="small">
                <p class="text-center">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            </div>
        </div>
    </section>

    <footer class="footer-distributed">

			<div class="footer-left">

				<h3>surprese<span>ME</span></h3>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">History</a>
					·
					<a href="#">Institutions</a>
					·
					<a href="#">How it works</a>
					·
					<a href="#">FAQ</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Surprese &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@surprese.me">support@supreses.me</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

</template>
