
<template name="newsletterSection">

  <section class="newsletter">
    {{#if newsletter_subscribed}}
    <form>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <label for="email">Receba uma notificação quando fizermos o lançamento!</label>
          <div class="well">
            <input type="text" name="email" id="email" placeholder="E-mail">
            <button id="btn-newsletter-footer" name="btn-newsletter-footer" class="btn btn-primary pull-right margin-t-30" type="submit">Enviar</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </form>
    {{else}}
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Obrigado!</h2>
        <p>Você agora faz parte da família! <i class="fa fa-heart" aria-hidden="true"></i></p>
      </div>
    </div>
    {{/if}}
  </section>

</template>
