<template name="editInitiative">
    <div class="appBody">
      {{> inAppNavBar}}
        <div>
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Awesome title" value="{{title}}">
                </div>
                <hr>
                <div class="form-group">
                    <label for="vision">Vision</label>
                    <input type="text" class="form-control" id="vision" name="vision" value="{{vision}}">
                </div>
                <div class="form-group">
                    <label for="howithelps">How it helps</label>
                    <input type="text" class="form-control" id="howithelps" name="howithelps" value="{{howithelps}}">
                </div>
                <div class="form-group">
                    <label for="whatitneeds">What it needs</label>
                    <input type="text" class="form-control" id="whatitneeds" name="whatitneeds" value="{{whatitneeds}}">
                </div>
                <div class="form-group">
                    <label for="website">Link to website</label>
                    <input type="text" class="form-control" id="website" name="website" value="{{website}}">
                </div>
                <hr>
                <div class="form-group">
                    <label for="description">Complete description</label>
                    <textarea name="description" class="form-control" id="description" placeholder="Short description" rows="3">{{description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" id="category" value="{{category}}">
                        <option value="none">Choose here ...</option>
                        {{#each categoriesList}}
                        <option {{selectedCategory}} value="{{_id}}">{{title}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="section">Section</label>
                    <select class="form-control" name="section" id="section" value="{{section}}">
                        <option value="none">Choose here ...</option>
                        {{#each sectionsList}}
                        <option {{selectedSection}} value="{{_id}}">{{title}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-control" name="city" id="city" value="{{city}}">
                        <option value="none">Choose here ...</option>
                        {{#each citiesList}}
                        <option {{selectedCity}} value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="contactPerson">Contact Person</label>
                    <input type="text" class="form-control" id="contactPerson" name="contactPerson" value="{{contact.contactPerson}}">
                </div>
                <div class="form-group">
                    <label for="contactEmail">Email Adress</label>
                    <input type="email" class="form-control" id="contactEmail" name="contactEmail" value="{{contact.contactEmail}}">
                </div>
                 <div class="form-group">
                    <label for="contactTel">Tel. Number</label>
                    <input type="text" class="form-control" id="contactTel" name="contactTel" value="{{contact.contactTel}}">
                </div>
                <div class="form-group">
                    <label for="contactStreet">Street </label>
                    <input type="text" class="form-control" id="contactStreet" name="contactStreet" value="{{contact.contactStreet}}">
                </div>
                 <div class="form-group">
                    <label for="contactZip">Zip </label>
                    <input type="text" class="form-control" id="contactZip" name="contactZip" value="{{contact.contactZip}}">
                </div>
                <div class="form-group">
                    <label for="contactCity">City </label>
                    <input type="text" class="form-control" id="contactCity" name="contactCity" value="{{contact.contactCity}}">
                </div>
                <div class="form-group">
                    <label for="contactCountry">Country </label>
                    <input type="text" class="form-control" id="contactCountry" name="contactCountry" value="{{contact.contactCountry}}">
                </div>
                <div class="form-group">
                    <label for="foundingYear">Founding year</label>
                    <input type="text" class="form-control" id="foundingYear" name="foundingYear" value="{{foundingYear}}">
                </div>
                <button type="submit" class="save">{{saveButtonText}}</button>
            </form>
        </div>
        {{#if hasId}}
        <hr>
        <div class="row">
          <p>Logo</p>
            <div class="thumbnail">
                <img src="{{logoURL}}" alt="{{title}}" max-width="300px">
            </div>
        </div>
        <div class="row">
            <div class="upload-area">
                <form id="uploadLogo">
                    <p class="alert alert-success text-center">
                        <span>Click or Drag an Image Here to Upload</span>
                        <input id="uploadLogo" type="file">
                    </p>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <p>Image</p>
            <div class="thumbnail">
                <img src="{{imageURL}}" alt="{{title}}" max-width="300px">
            </div>
        </div>
        <div class="row">
            <div class="upload-area">
                <form id="uploadImage">
                    <p class="alert alert-success text-center">
                        <span>Click or Drag an Image Here to Upload</span>
                        <input id="uploadImage" type="file">
                    </p>
                </form>
            </div>
        </div>
        {{/if}}
    </div>
</template>
