<template name="initiativesDetailItem">
  <div class="appBody">
    <div class="row">
      <div class="col-md-9">
        <div class="causes-single-box">
            <img src={{imageURL}} alt="" class="img-responsive main-thumb">
            <div class="single-box-desc">
                <h2 class="text-uppercase">{{title}}</h2>
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-tags"></i> Category</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Section</a></li>
                </ul>
                <div class="row raised-amount">
                    <div class="col-sm-8">
                        <headText for="vision">Vision:</headText>
                        <p id="vision">{{vision}}</p>
                        <headText for="howithelps">How it helps:</headText>
                        <p id="howithelps">{{howithelps}}</p>
                        <headText for="whatitneeds">What it needs:</headText>
                        <p id="whatitneeds">{{whatitneeds}}</p>
                    </div>

                </div>

                <p>{{description}}</p>

                <p>
                    <img src="images/img2.jpg" alt="" class="img-responsive img-left" width="250"> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                    sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi
                    optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                    repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                </p>
                <blockquote>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal
                    blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
                </blockquote>
                <p>
                    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal
                    blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
                </p>
                <hr>
                <ul class="list-inline text-right">
                    <li>Share it:</li>
                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        {{> initiativeDetailsSidebarWidgets}}
      </div>
    </div>
</div>
</template>
