<template name="initiativeItem">

  <div class="col-md-12">
    <div class="causes-list-box">
        <div class="row vertical-center">
            <div class="col-sm-3">
                <img src={{imageURL}} alt="" class="img-responsive">
                <button id="selectItem" class="btn {{#if isSelected}}btn-secondary-theme-bg{{else}}btn-default{{/if}} btn-block" type="button">
                  Select</button>
            </div>
            <div class="col-sm-8">
                <div class="causes-desc">
                    <h4><a href="initiatives/{{slug}}">{{title}}</a></h4>
                    <div class="row causes-amount">
                        <div class="col-xs-12">
                            <span>Vision</span>
                            <h1>{{vision}}</h1>
                        </div>
                        <div class="col-xs-12">
                            <span>How it helps</span>
                            <h1>{{howithelps}}</h1>
                        </div>
                        <div class="col-xs-12">
                            <span>What it needs</span>
                            <h1>{{whatitneeds}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">

            </div>
        </div>
    </div>
  </div>
    <!-- <div class="postListItem" id="item">
        <div class="row" id="item">
            <div class="col-xs-12 col-md-2">
                <div class="thumbnail">
                    <img src={{imageURL}}>
                </div>
            </div>
            <div class="col-md-8">
                <h3 style="text-uppercase">{{title}}</h3>
                <p>Vision: {{vision}} </p>
                <p>How it helps: {{howithelps}} </p>
                <p>What it needs: {{whatitneeds}} </p>
            </div>
            <div class="col-md-2 text-right">
                <button type="button" id="selectItem" class="btn btn-sm {{#if isSelected}}btn-primary{{else}}btn-default{{/if}}">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Select
                </button>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12 text-center">
                <div id="expand">
                    <a role="button" data-toggle="collapse" href="#{{_id}}" aria-expanded="false" aria-controls="{{_id}}" >
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="{{_id}}" style="margin-left: 10px; margin-right: 10px;">
                    <div class="well">
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</template>
