<template name="initiative">
    <div class="appBody">
        <div class="editPost">
          {{> inAppNavBar}}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{title}}</h1>
                </div>
                <div class="col-md-12">
                    <small>
					Posted {{formatTime timeCreated "fromNow"}} by {{author}}
					{{#if isInRole 'admin'}}
				        | <a href="/initiatives/{{slug}}/edit">EDIT DETAILS</a>
				        | <a href="/initiatives/{{slug}}/edit-products">EDIT PRODUCTS</a>
				        | <a href="#" id="delete" >DELETE INITIATIVE</a>
				    {{/if}}
				</small>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-12 col-md-9">
                    <headText for="vision">Vision:</headText>
                    <p id="initationText">{{vision}}</p>
                    <headText for="howithelps">How it helps:</headText>
                    <p id="howithelps">{{howithelps}}</p>
                    <headText for="whatitneeds">What it needs:</headText>
                    <p id="whatitneeds">{{whatitneeds}}</p>
                    <headText for="website">Link:</headText>
                    <p id="website"><a href="{{website}}">{{website}}</a></p>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img src={{imageURL}} alt="{{title}}">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <headText for="founderText">Description:</headText>
                    <p id="founderText">{{description}}</p>
                </div>
            </div>
            <hr>
            <h4>Products</h4>
            {{#each products}}
  						{{> productItem}}
  					{{/each}}
        </div>
    </div>
</template>
