<template name="initiativeListSidebarWidgets">

    {{#if isInRole 'admin'}}
      <!-- Admin Widget -->
      <div class="sidebar-widget">
        <h4 class="text-uppercase">Admin</h4>
        <a href="/create-initiative" class="btn btn-primary btn-block">Nova instituição</a>
      </div>
    {{/if}}



    <!-- Search widget -->
    <!-- <div class="sidebar-widget search-widget">
        <form>
            <input type="text" class="form-control" placeholder="Search here..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div> -->
    <!--end sidebar widget-->
    <div class="sidebar-widget">
        <h4 class="text-uppercase">Categorias</h4>
        <ul class="list-unstyled">
          {{#each categoriesList}}
              <li><a href="#" id="{{_id}}">{{title}}</a></li>
          {{/each}}
        </ul>
    </div>
    <!--end sidebar widget col-->
    <div class="sidebar-widget">
        <h4 class="text-uppercase">Público-alvo</h4>
        <ul class="list-inline tags">
          {{#each sectionsList}}
              <li><a href="#" id="{{_id}}">{{title}}</a></li>
          {{/each}}
        </ul>
    </div>
    <!--end sidebar widget-->
    <!-- <div class="sidebar-widget">
        <h4 class="text-uppercase">Latest Post</h4>
        <ul class="list-unstyled latest-news">
            <li class="clearfix">
                <div class="pull-left post-thumb">
                    <a href="#">
                        <img src="images/img1.jpg" alt="" class="img-responsive" width="90">
                    </a>
                </div>

                <div class="content">
                    <a href="#">
                        <h5>African child education help</h5>
                    </a>
                    <div>
                        <span>18 July 2016</span>
                    </div>
                </div>
            </li>

            <li class="clearfix">
                <div class="pull-left post-thumb">
                    <a href="#">
                        <img src="images/img2.jpg" alt="" class="img-responsive" width="90">
                    </a>
                </div>

                <div class="content">
                    <a href="#">
                        <h5>Save the life of poor childs</h5>
                    </a>
                    <div>
                        <span>18 July 2016</span>

                    </div>

                </div>
            </li>

        </ul>
    </div> -->


    <!--end sidebar widget -->
    <div class="sidebar-widget">
        <h4 class="text-uppercase">Falta alguma ONG?</h4>
        <p>
          Envie para a gente a sua sugestão!
        </p>
        <a href="#" id="suggestNGO" class="btn btn-secondary btn-block margin-t-30">Sugerir uma ONG</a>
    </div>
    <!--end sidebar widget col-->
    {{> suggestNGOModal}}
</template>
