<template name="initiativeItem">

  <div class="col-md-12">
    <div class="causes-list-box">
        <div class="row vertical-center">
            <div class="col-sm-3">
                <img src={{imageURL}} alt="" class="img-responsive">
                {{#if isSelected}}
                  <button id="selectItem" class="btn btn-primary btn-block" type="button">Selected</button>
                {{else}}
                  <button id="selectItem" class="btn btn-secondary btn-block" type="button">Select</button>
                {{/if}}
            </div>
            <div class="col-sm-8">
                <div class="causes-desc">
                    <h4><a href="initiatives/{{slug}}">{{title}}</a></h4>
                    <div class="row causes-amount">
                        <div class="col-xs-12">
                            <span>Vision</span>
                            <h1>{{vision}}</h1>
                        </div>
                        <div class="col-xs-12">
                            <span>How it helps</span>
                            <h1>{{howithelps}}</h1>
                        </div>
                        <div class="col-xs-12">
                            <span>What it needs</span>
                            <h1>{{whatitneeds}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">

            </div>
        </div>
    </div>
  </div>
</template>
