<template name="initiativeDetailsSidebarWidgets">
    <div class="row">
      <div class="col-xs-12">
        <a href="/createEvent/{{_id}}" class="btn btn-theme-bg btn-md btn-block">Create Event to Donate</a>
      </div>
    </div>
    {{#if isInRole 'admin'}}
      <!-- Admin Widget -->
      <div class="sidebar-widget">
        <h4 class="text-uppercase">Admin</h4>
        <a href="/initiatives/{{slug}}/edit" class="btn btn-theme-bg input-block-level">Edit Details</a>
        <a href="/initiatives/{{slug}}/edit-products" class="btn btn-theme-bg input-block-level">Edit Products</a>
        <a href="#" id="delete" class="btn btn-theme-bg input-block-level">Delete</a>
      </div>
    {{/if}}

    <!-- Meta Data Widget -->
    <div class="sidebar-widget">
      <h4 class="text-uppercase">Background</h4>

      <p><i class="fa fa-map-marker"></i> {{city}} - {{country}}</p>
      <p><i class="fa fa-compass" aria-hidden="true"></i> {{foundingYear}}</p>
      <p><i class="fa fa-user" aria-hidden="true"></i> {{contact.contactPerson}}</p>
      <p><i class="fa fa-external-link" aria-hidden="true"></i><a href="{{website}}"> Website Link</a></p>

    </div>


    <!-- Products -->
    <!-- <div class="sidebar-widget">
      <h4 class="text-uppercase">Products</h4>
      {{#each products}}
        {{> productItem}}
      {{/each}}
    </div> -->


    <!--end sidebar widget -->
    <div class="sidebar-widget text-center">
        <h4 class="text-uppercase">NGO still missing?</h4>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse.
        </p>
        <a href="#" id="suggestNGO" class="btn btn-md btn-block btn-theme-bg">Suggest NGO</a>
    </div>
    <!--end sidebar widget col-->
    {{> suggestNGOModal}}
</template>
