<template name="initiativesDetailItem">
  <div class="appBody">
    <div class="row">
      <div class="col-md-9">
        <div class="causes-single-box">
            <img src={{imageURL}} alt="" class="img-responsive main-thumb">
            <div class="single-box-desc">
                <h2 class="text-uppercase">{{title}}</h2>
                <!-- <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-tags"></i> Category</a></li>
                    <li><a href="#"><i class="fa fa-tags"></i> Section</a></li>
                </ul> -->

                <div class="row vision">
                  <headText for="vision">Visão:</headText>
                  <p id="vision">{{vision}}</p>
                  <headText for="howithelps">Como isso ajuda:</headText>
                  <p id="howithelps">{{howithelps}}</p>
                  <headText for="whatitneeds">O que faz:</headText>
                  <p id="whatitneeds">{{whatitneeds}}</p>
                  
                </div>

                <p>{{{description}}}</p>


                <hr>
                <ul class="list-inline text-right">
                    <li>Compartilhamento:</li>
                    <!-- <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                </ul>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        {{> initiativeDetailsSidebarWidgets this}}
      </div>
    </div>
</div>
</template>
