<template name="initiativeListSidebarWidgets">

    {{#if isInRole 'admin'}}
      <!-- Admin Widget -->
      <div class="sidebar-widget">
        <h4 class="text-uppercase">Admin</h4>
        <a href="/create-initiative" class="btn btn-theme-bg">Add Initiative</a>
      </div>
    {{/if}}



    <!-- Search widget -->
    <div class="sidebar-widget search-widget">
        <form>
            <input type="text" class="form-control" placeholder="Search here..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!--end sidebar widget-->
    <div class="sidebar-widget">
        <h4 class="text-uppercase">Categories</h4>
        <ul class="list-unstyled">
            <li><a href="#">Poverty</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Water</a></li>
            <li><a href="#">Child</a></li>
            <li><a href="#">Africa</a></li>
            <li><a href="#">Nigeria</a></li>
            <li><a href="#">India</a></li>
        </ul>
    </div>
    <!--end sidebar widget col-->
    <div class="sidebar-widget">
        <h4 class="text-uppercase">Categories</h4>
        <ul class="list-inline tags">
            <li><a href="#">Poverty</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Water</a></li>
            <li><a href="#">Child</a></li>
            <li><a href="#">Africa</a></li>
            <li><a href="#">Nigeria</a></li>
            <li><a href="#">India</a></li>
        </ul>
    </div>
    <!--end sidebar widget-->
    <div class="sidebar-widget">
        <h4 class="text-uppercase">Latest Post</h4>
        <ul class="list-unstyled latest-news">
            <li class="clearfix">
                <div class="pull-left post-thumb">
                    <a href="#">
                        <img src="images/img1.jpg" alt="" class="img-responsive" width="90">
                    </a>
                </div>
                <!--thumb-->
                <div class="content">
                    <a href="#">
                        <h5>African child education help</h5>
                    </a>
                    <div>
                        <span>18 July 2016</span>
                    </div>
                </div>
            </li>
            <!--news li end-->
            <li class="clearfix">
                <div class="pull-left post-thumb">
                    <a href="#">
                        <img src="images/img2.jpg" alt="" class="img-responsive" width="90">
                    </a>
                </div>
                <!--thumb-->
                <div class="content">
                    <a href="#">
                        <h5>Save the life of poor childs</h5>
                    </a>
                    <div>
                        <span>18 July 2016</span>

                    </div>

                </div>
            </li>
            <!--news li end-->
        </ul>
    </div>
    <!--end sidebar widget -->
    <div class="sidebar-widget text-center">
        <h4 class="text-uppercase">NGO still missing?</h4>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse.
        </p>
        <a href="#" id="suggestNGO" class="btn btn-lg btn-theme-bg">Suggest NGO</a>
    </div>
    <!--end sidebar widget col-->
    {{> suggestNGOModal}}
</template>
