<template name="formStep2">

    <div class="row">
        <div class="col-md-12">
          <label for="searchQuery">Search for institution</label>
        </div>
          <div class="col-md-9 col-xs-12">
              <input type="text" class="form-control searchQuery" id="searchQuery" name="searchQuery">
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Search</button>
          </div>
    </div>
    <div class="space-20"></div>
    <div class="row">
        <div class="collapse" id="collapseExample">

            <div class="col-md-offset-1 col-xs-3">
              <select class="form-control" id="filter1" value="{{filter1}}">
                  <option value="none" >Choose city here ...</option>
                  {{#each citiesList}}
                      <option {{selectedCity}} value="{{_id}}">{{name}}</option>
                  {{/each}}
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" id="filter2" value="{{filter2}}">
                  <option value="none" >Choose category here ...</option>
                  {{#each categoriesList}}
                      <option {{selectedCategory}} value="{{_id}}">{{title}}</option>
                  {{/each}}
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" id="filter3" value="{{filter3}}">
                  <option value="none" >Choose section here ...</option>
                  {{#each sectionsList}}
                      <option {{selectedSection}} value="{{_id}}">{{title}}</option>
                  {{/each}}
              </select>
            </div>
      </div>
    </div>
    <hr>

    {{#if searching}}
        {{> loading}}
    {{else}}
        {{#each initiatives}}
            {{> initiativeItem}}
        {{else}}
            <p class="alert alert-warning">Nothing found for {{query}}. Sorry, bub.</p>
        {{/each}}
    {{/if}}

     <div class="col-md-12">
        <button class="lazyload btn btn-secondary">Load more</button>
    </div>
</template>
