<template name="formStep3">
    <div class="row">
        <form id="eventForm">
            <div class="form-group">
                <label for="title">Event title</label>
                <input type="text" class="form-control" id="eventTitle" name="eventTitle">
            </div>
            <div class="form-group ">
                <label for="datepicker">Date</label>
                <div class="input-group input-append" id="datePicker">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input id="date" type="text" class="form-control datetimepicker" data-DateTimePicker name="appointment" placeholder="Pick a Date">
                </div>
            </div>
            <div class="form-group ">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" name="location">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" name="text" rows="10" placeholder="Brilliant description"></textarea>
            </div>
            <div class="form-group">
                <label for="suggestedValue">Suggested value</label>
                <input type="text" class="form-control" id="suggestedValue" name="suggestedValue" placeholder="Your suggestion of the funding">
            </div>
                <div class="upload-area">
                    <label for="upload">Upload a picture of you or your event if you want</label>
                    <form id="upload">
                        <p class="alert alert-success text-center">
                            <span>Click or Drag an Image Here to Upload</span>
                            <input type="file">
                        </p>
                    </form>
                </div>

        </form>
    </div>
</template>
