<template name="formStep4">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h2 class="text-center text-uppercase">{{title}}</h2>
            <hr style="max-width: 50px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><strong>Event Details</strong></h3>
                </div>
                <div class="panel-body pendingEvent">
                    <p><strong>Date:</strong> {{date}}</p>
                    <p><strong>Description:</strong> {{description}}</p>
                    <p><strong>Suggested value:</strong> {{suggestedValue}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-5">
            <div style="max-width: 400px;">
               <img  src="{{pictureURL}}">
            </div>

        </div>
      </div>
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-12">
              <div style="text-center">
                  <h3 class="panel-title text-center"><strong>Selected Initiative</strong></h3>
                  <hr>
              </div>

              {{#each selectedInitiative}}
                {{> initiativeItemForEventSummary}}
              {{else}}
                <p class="alert alert-warning">No initiative selected!</p>
              {{/each}}
        </div>
      </div>


    <button type="button" id="publishEvent" class="btn btn-primary btn-lg">Publish Event</button>

    {{> publishEventModalTemplate}}
</template>
