<template name="formStep2">
    <div class="row">
        <div class="col-md-1">
            <p>Filter</p>
        </div>
        <div class="col-md-3">
            <select class="form-control" id="filter1" value="{{filter1}}">
                <option value="none" >Choose here ...</option>
                <option value="Berlin">Berlin</option>
                <option value="Brazil">Brazil</option>
            </select>
            <select class="form-control" id="filter2" value="{{filter2}}">
                <option value="none" >Choose here ...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-offset-1 col-md-1">
            <p>Suche</p>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control searchQuery" id="searchQuery" name="searchQuery">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {{#if searching}}
                {{> loading}}
            {{else}}
                {{#each initiatives}}
                    {{> initiativeItem}}
                {{else}}
                    <p class="alert alert-warning">Nothing found for {{query}}. Sorry, bub.</p>
                {{/each}}
            {{/if}}
        </div>
         <div class="col-md-12">
            <button class="lazyload">Load more</button>
        </div>
    </div>
</template>
