<template name="userDetails">

        <form id="eventForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="lastname">Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday" name="birthday">
            </div>
            <div class="form-group">
                <label for="cpf">CPF Number</label>
                <input type="text" class="form-control" id="cpf" name="cpf">
            </div>

        </form>

</template>
