<template name="eventListItem">
  <ul class="event-list list-unstyled">
      <li class="event-list-item clearfix">
          <span class="event-date">
            <span class="date">31</span>
            <span class="month">Sep</span>
            <span class="year">2016</span>
          </span>
          <div class="event-list-content">
              <span class="event-time"><i class="fa fa-clock-o"></i> Monday, 8:00 am - 12:00 pm</span>
              <span class="event-location"><i class="fa fa-location-arrow"></i> 124, Lorem Street, Africa</span>
              <h4><a href="#">{{title}}</a></h4>
              <p>
                  {{description}}
              </p>
          </div>
      </li>
      <!--end event item-->
  </ul>
</template>
