<template name="event">

    <div class="appBody" style="margin-bottom: 4em;">

        <headText>Evento</headText>
        <div class="row">
          <div class="col-md-12">
            <!-- <div style="max-height: 400px; background:url({{pictureURL}}) no-repeat;  background-size:contain;">
            </div> -->
            <div class="img-100vb-300vh" style="background-image:url('{{pictureURL}}');"></div>
          </div>
        </div>
        <div style="margin-bottom: 2em;" class="row">
          <div class="col-xs-12">
            <headText>Convite por <i class="fa fa-heart" aria-hidden="true"></i> do {{author}}</headText>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-8">
            <h2>Informações do evento</h2>
            <div class="well">
              <h3>{{title}}</h3>
              <headText for="date">Quando?</headText>
              <p style="font-size: 22px; color: #1E2938;" id="date">{{date}}</p>
              <headText for="location">Onde?</headText>
              <p style="font-size: 22px; color: #1E2938; text-align:left;" id="location">{{location}}</p>
              <div class="space-50"></div>
              <p id="descriptionText">{{{description}}}</p>

              {{#with initiative}}
              <!-- <headText style="font-size: 10px;">O anfitrião desse evento escolheu a ONG {{title}} para ser apoiada através de seus presentes. Se você quiser transformar seu presente em uma doação e assim ajudar o {{title}}, basta clicar em 'doe agora' e seguir os passos. Com exceção de uma pequena taxa que usamos para manter o site no ar, todo o dinheiro é encaminhado para a instituição escolhida. Qualquer dúvida, conte conosco! Time do Surprese</headText> -->
              {{/with}}
            </div>

            <div class="hidden-md-up">
              <h2>Doações</h2>
              <div class="well">
                <button type="button" id="donateButton" class="btn btn-block btn-call-to-action btn-lg">Doe agora!</button>
              </div>
            </div>

            <h2>Instituição escolhida</h2>
            <div class="well">
              {{#with initiative}}
              <h3>{{title}}</h3>
              <div class="img-logo-event" style="margin-top:20px; background-image:url('{{logoURL}}');"></div>
              <p>{{category.title}}, {{section.title}}</p>

              <headText for="vision">Visão:</headText>
              <p id="vision">{{vision}}</p>
              <headText for="howithelps">O que a ONG ajuda:</headText>
              <p id="howithelps">{{howithelps}}</p>
              <headText for="whatitneeds">Do que a ONG precisa:</headText>
              <p id="whatitneeds">{{whatitneeds}}</p>
              <!-- <headText for="location">Localização:</headText>
              <p id="location">{{city.name}}</p> -->
              {{/with}}
              <p>
                <a href="" class="btn-link">Saiba mais sobre a ONG</a>
              </p>
            </div>
          </div>

          <div class="col-lg-4">
            <h2>Doações</h2>
            <div class="well">
              <button type="button" id="donateButton" class="btn btn-block btn-call-to-action btn-lg">Doe agora!</button>


            </div>
          </div>
        </div>

    </div>
</template>
