<template name="event">

    <div class="appBody" style="margin-bottom: 4em;">
        {{#if iAmOwner owner}}
            <div class="row">
              <div class="col-md-12">
                <h1>{{title}}</h1> <small>Access link: <span id="input-clipboard">http://surprese.me/events/{{slug}}</span> | <a href="#" id="copyAccessLink"> Copy Link</a></small>
                <br>
                <small>
    				    Posted {{formatTime timeCreated "fromNow"}} by {{author}} | <a href="/events/{{slug}}/edit">Edit Event</a>
    			        | <a href="#" id="delete" >Delete Event</a>
                </small>
                <hr>
            </div>

          </div>
          <div class="row">
              <div class="col-md-7">
                <headText for="descriptionText">Description:</headText>
                <p id="descriptionText">{{description}}</p>
                <headText for="date">Date:</headText>
                <p id="date">{{date}}</p>
                <headText for="suggestedValue">Suggested Value:</headText>
                <p id="suggestedValue">{{suggestedValue}}</p>
              </div>
              <div class="col-md-offset-1 col-md-4">
                  Statistic
              </div>
          </div>

        {{else}}
        <headText>Evento</headText>
        <div class="row">
          <div class="col-md-12">
            <!-- <div style="max-height: 400px; background:url({{pictureURL}}) no-repeat;  background-size:contain;">
            </div> -->
            <div class="img-100vb-300vh" style="background-image:url('{{pictureURL}}');"></div>
          </div>
        </div>
        <div style="margin-bottom: 2em;" class="row">
          <div class="col-xs-12">
            <headText>Convite por <i class="fa fa-heart" aria-hidden="true"></i> do {{author}}</headText>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <headText for="date">Quando?</headText>
            <p style="font-size: 22px; color: #1E2938;" id="date">{{date}}</p>
            <headText for="suggestedValue">Onde?</headText>
            <p style="font-size: 22px; color: #1E2938;" id="suggestedValue">{{location}}</p>
          </div>
          <div class="col-md-7" style="padding-right: 4em; text-align: justify;">
            <h1 style="color: #1E2938">{{title}}</h1>
            <p id="descriptionText">{{description}}</p>
            <div class="space-50"></div>
            {{#with initiative}}
            <headText style="font-size: 10px;">O anfitrião desse evento escolheu a ONG {{title}} para ser apoiada através de seus presentes. Se você quiser transformar seu presente em uma doação e assim ajudar o {{title}}, basta clicar em 'doe agora' e seguir os passos. Com exceção de uma pequena taxa que usamos para manter o site no ar, todo o dinheiro é encaminhado para a instituição escolhida. Qualquer dúvida, conte conosco! Time do Surprese</headText>
            {{/with}}
          </div>
          <div class="col-md-3">
            <button type="button" id="donateButton" style="margin-bottom: 1em;" class="btn btn-block btn-primary btn-lg">Doe agora!</button>
            <div style="padding-left: 0px;" class="col-md-12">
                {{#with initiative}}
                <h4 style="color: #1E2938">{{title}}</h4>

                <headText for="category">Tipo:</headText>
                <p>{{category.title}}</p>
                <headText for="vision">Seção:</headText>
                <p>{{section.title}}</p>
                <headText for="vision">Visão:</headText>
                <p id="vision">{{vision}}</p>
                <headText for="whatitneeds">O que faz:</headText>
                <p id="whatitneeds">{{whatitneeds}}</p>
                <headText for="location">localização:</headText>
                <p id="location">{{city.name}}</p>
                <div class="img-logo-event" style="margin-top:20px; background-image:url('{{logoURL}}');"></div>
                {{/with}}






            </div>
          </div>
        </div>



          <!-- <div class="row">
            <div class="col-md-9">
              <h1>{{title}}</h1>
              <p>Inivitation by <i class="fa fa-heart" aria-hidden="true"></i> from {{author}}</p>
            </div>
            <div class="col-md-offset-1 col-md-2" style="text-align: right;">
                <button type="button" id="donateButton" class="btn btn-block btn-primary btn-lg">Donate</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <hr>
              <headText for="descriptionText">Invitation text:</headText>
              <p id="descriptionText">{{description}}</p>
              <headText for="date">When?</headText>
              <p id="date">{{date}}</p>
              <headText for="suggestedValue">Where?</headText>
              <p id="suggestedValue">{{location}}</p>

            </div>
            <div class="col-md-offset-1 col-md-4">
              <img style="max-width: 400px;" src="{{pictureURL}}" />

            </div>
          </div>
          <hr>
          {{#with initiative}}
          <h4>Selected Initiative: {{title}}</h4>
          <div class="row">

            <div class="col-md-1">
              <img style="max-width: 180px;" src="{{imageURL}}" />
              <span>more informations</span>
            </div>
            <div class="col-md-offset-2 col-md-9">
              <headText for="vision">Vision:</headText>
              <p id="vision">{{vision}}</p>
              <headText for="whatitneeds">What it needs:</headText>
              <p id="whatitneeds">{{whatitneeds}}</p>
              <headText for="location">Location:</headText>
              <p id="location">{{location}}</p>
            </div>

          </div>
          {{/with}} -->
        {{/if}}

    </div>
</template>
